html {
  font-size: 62.5%;
}

body {
  font: bold 1.8rem 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  color: white;
  background: #ff5555;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
