@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Teko:700");
:root {
  --title-color: #e92c54;
  --bg-blk: #000;
  --bg-wh: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1.8rem 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  color: white;
  background-color: var(--bg-blk);
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
}

.clearfix:after {
  clear: both;
}

h1,
h2,
h3 {
  font: 700 3.4rem 'Teko', Helvetica, Arial, sans-serif;
  margin: 0 0 2em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.content-section {
  padding-top: 100px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-mutted {
  color: #777;
}

.hidden {
  display: none;
}

body {
  background: purple;
  margin: 0 auto;
}

header {
  max-height: 50px;
}

h1 {
  font-size: 4rem;
}

section {
  border: 2px solid yellow;
  text-align: center;
}
section h2 {
  margin: 0 auto;
  max-width: 180px;
  text-align: center;
  color: red;
}

main section {
  margin-top: 2em;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: purple;
}
.intro .left-side {
  width: 50%;
}
.intro .left-side h1 {
  font-size: 2rem;
  color: yellow;
  margin: 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}
.navbar a {
  position: relative;
  margin: 0;
  padding: 1em;
  color: cyan;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all .3s ease-in;
}
.navbar a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 40%;
  left: 50%;
  bottom: 0;
  background: yellow;
  opacity: 0;
  transform: translate(-50%) scaleX(1);
}
.navbar a:hover {
  color: blue;
}
.navbar a:focus::after, .navbar a:hover::after {
  width: 60%;
  height: 4px;
  opacity: 1;
}
